# Ignorowanie środowisk wirtualnych
venv/
venv2/
.env/
*.env

# Ignorowanie plików konfiguracyjnych i logów
*.log
*.sqlite3
*.db

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików kompilacji Pythona
__pycache__/
*.py[cod]
*$py.class

# Ignorowanie plików związanych z Jupyter Notebook
.ipynb_checkpoints

# Ignorowanie plików dużych bibliotek
*.dylib
*.so
*.dll

# Ignorowanie bibliotek TensorFlow, PyTorch i innych modeli
models/
*.pth
*.h5
*.ckpt

# Ignorowanie plików z narzędzi takich jak pytest i coverage
htmlcov/
.coverage
.cache
.pytest_cache/

# Ignorowanie lokalnych repozytoriów Git i narzędzi
CML.git/
bfg.jar

# Ignorowanie plików LFS (jeśli używasz Git LFS, możesz dodać odpowiednie reguły)
*.lfs
# Ignorowanie plików modeli i danych
models/
uploads/